
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}
/*--------------------------Circle counter--------------------*/

.circle {
	border-radius: 50%;
	background-color: #46DBF5;
	height: 5rem;
	width: 5rem;
	margin: 5rem auto 0;
}

.circle img {
	height: 2.5rem;
	width: 5rem;
	margin: 1.4rem auto 0;
	/*display: none;*/
	
}


/*------------------------header------------------------------*/
h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-weight: 200;
	font-size: 5rem;
	margin: 0;
	color: #D8D8D8;
}

/*------------------------form--------------------------------*/

section {
	width: 75%;
	margin: 2rem auto;
	
}

form {
	background-color: #D8D8D8;
	padding: 1rem;
	border-bottom: 5px solid gray; 

}
#newItem {
	width: 80%;
	border: 0;
	background-color: #D8D8D8;
	font-size: 1.5rem;
	line-height: 3rem;
	
	

}

#addButton {
	cursor: pointer;
	float: right;
	background-color: #F78181;
	padding: .9rem;
	border: 0;	
}

/*-------------------------list----------------------*/

ul {
	margin: 0;
	padding: 0;
}

li {
	height: 3rem;
	width: 100%;
	list-style-type: none;
	color: white;
	padding: .7rem 0 0 0;
	border-bottom: 1px solid black;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-indent: 10px;
}

.new {
	background-color: #F78181;
}

.complete {
	text-decoration: line-through;
	color: black;
	background-color: #69666C;
}

.clear {
	margin: 1rem 1rem 0 0;
	cursor: pointer;
	float: right;
	background-color: #F78181;
	padding: .9rem;
	border: 0;
}

/*--------------------------footer------------------*/
footer {
	margin: 8rem 0 3rem;
	position: fixed;
   	left:0px;
   	bottom:0px;
   	height:2rem;
   	width:100%;
	
}
footer p {
	color: #D8D8D8;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #F78181;
}